.chessboard {
  --light-square: #f0d9b5;
  --dark-square: #b58863;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: fit-content;
  margin: 0 auto;
  touch-action: none;
}

.board-square.available::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
}

.board-square.available.dark::after {
  background-color: hsla(65, 25%, 35%, 1);
}

.board-square.available.light::after {
  background-color: hsla(80, 18%, 52%, 1);
}

.board-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  aspect-ratio: 1/1;
  font-size: 16px;
  user-select: none;
}

.board-square img {
  pointer-events: none;
  user-select: none;
}

.board-square.dark {
  background-color: var(--dark-square);
}

.board-square.light {
  background-color: var(--light-square);
}

.file-label {
  position: absolute;
  bottom: 2%;
  left: 4%;
  font-size: 0.6em;
  font-weight: bold;
  pointer-events: none;
}

.rank-label {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 0.6em;
  font-weight: bold;
  pointer-events: none;
}

.light-text {
  color: var(--light-square);
}

.dark-text {
  color: var(--dark-square);
}

@media (max-width: 768px) {
  .chessboard {
    width: 100vw;
    max-width: 100vw;
  }

  .board-square {
    width: 12.5vw;
    font-size: clamp(12px, 3vw, 16px);
  }

  .file-label,
  .rank-label {
    font-size: 0.5em;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}