#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-box {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .game-box {
    flex-direction: column;
    align-items: center;
  }
}